body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.backgroundImagen{
    background-color: black;
    background-image: url(../img/background.jpg);
    background-size: contain;
    overflow: scroll;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
}
/* altura y ancho son medidas para cuadrar los divs "contenedores" */
.altura {
    height: 100vh;
}
.anchoCompleto {
    width: 100%;
}
/* espaciador es una clase que le asigon a div espaciadores */
.espaciador {
    height: 10vh;
}
.espaciadorMedio{
    height: 5vh;
}
.espaciadorPequenio{
    height: 1.5vh;
}
.overflowScroll{
    overflow: scroll;
}
/* ajuste de tamaño los 2 divs con los parrafos de About. */
.divInstruccionesMasterMindParrafoDeArriba {
    height: 50vh;
    border-radius: 10px;
}
.divInstruccionesMasterMindParrafoDeAbajo {
    height: 20vh;
    border-radius: 10px;
}
::-webkit-scrollbar {
    position: absolute;
    display: none;
}
    /* diesño los botones Principales*/
.botonesPrincipales{
    background-color: rgba(4, 4, 4, 0.626);
    width: 40vw;
    max-width: 200px;
    border: white 1px solid;
    border-radius: 30px;
    color: rgb(187, 195, 118);
    font-size: 1.6vw;
    font-family: 'Rubik Moonrocks', sans-serif;
}
    /*Diseño de los fonts*/
.fontDeGoogleParaMastermind{
    color: rgb(213, 158, 54);
    font-family: 'Fredericka the Great', serif;
}
.fontDeGoogleParaMastermind2{
    font-family: 'Fredericka the Great', serif;
}
.encabezadoPaginaPrincipal{
    font-size: 10vw;
} 
    /*Diseño de los divs de la parte del Game en la parte Izquierda*/
.divClickGetColorGame{
    height: 8vh;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
}
    /* Diseño de los Botones de la parte de Game*/
.botonesGame{
    background-color: rgba(4, 4, 4, 0.626);
    width: 100%;
    max-width: 200px;
    border: white 1px solid;
    border-radius: 30px;
    color: aliceblue;
    font-size: 2vw;
    margin-top: 10px;
}
    /*Diseño de los divs de la parte del Game en la parte Derecha*/
.divsColoresSelector{
    width: 90%;
    height: 8vh;
    border: 1px solid white;
    border-radius: 20px;
}
    /*Diseño media-Querry reajuste de visualización*/
@media(max-width:430px){
    .encabezadoPaginaPrincipal{
        font-size: 17vw;
    } 
    .botonesPrincipales{
        font-size: 5vw;
    }
    .botonesGame{
        font-size: 4.5vw;
        width: 20vw;
        position: relative;
        left: -10px;
    }
    .divsColoresSelector{
        width: 30vw;
        height: 8vh;
        border: 1px solid white;
        border-radius: 20px;
        margin-top: 10px;
    }
    .divClickGetColorGame{
        height: 8vh;
        border: 1px solid white;
        border-radius: 20px;
        margin-top: 10px;
        width: 400px;
    }
} 
    /*Diseño media-Querry reajuste de visualización*/
@media screen and (min-width: 430px) and (max-width: 991px) {
    .encabezadoPaginaPrincipal{
        font-size: 14vw;
    }
    .botonesPrincipales{
        font-size: 3vw;
    }
    .botonesGame{
        font-size: 3vw;
        width: 100%;
        position: relative;        
    }
    .divsColoresSelector{
        width: 26vw;
        height: 8vh;
        border: 1px solid white;
        border-radius: 20px;
        margin-top: 10px;
    }
    .divClickGetColorGame{
        height: 8vh;
        border: 1px solid white;
        border-radius: 20px;
        margin-top: 10px;
        width: 400px;
    }
}  