body {
    margin: 0;
    padding: 0;
}

/* altura y ancho son medidas para cuadrar los divs "contenedores" */
.altura {
    height: 100vh;
}

.anchoCompleto {
    width: 100%;
}

/* espaciador es una clase que le asigon a div espaciadores */
.espaciador {
    height: 10vh;
}
.overflowScroll{
    overflow: scroll;
}

/* ajuste de tamaño los 2 divs con los parrafos de About. */
.divInstruccionesMasterMindParrafoDeArriba {
    height: 50vh;
    border-radius: 10px;
}

.divInstruccionesMasterMindParrafoDeAbajo {
    height: 20vh;
    border-radius: 10px;
}

::-webkit-scrollbar {
    position: absolute;
    display: none;
}