.register-design{
    margin-top: 20vh;
    @media screen and (max-width: 500px) {
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .loading-design{
      img{
        width: 50vw;
        max-width: 1000px;
      }
      @media screen and (max-width: 500px) {
        img{
          margin-top: 20vh;
          width: 90vw;
          margin-left: 3vw;
        }
      }
    }
    .file-input-design{
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.594);
        border-bottom: 2px solid white;
        border-radius: 10px;
        max-width: 740px;
        @media screen and (max-width: 500px) {
            margin-top: 30px;
            max-width: 92vw;
            margin-left: 1vw;
            }
        label{
            padding: 10px;
        }
        input{
            padding: 10px;
            max-width: 370px;
            margin-left: auto;
            position: relative;
            left: 15px;
            background-image: url("./../../img/background-input.jpg");
            color: aliceblue;
            border: 3px solid black; 
            border-bottom: 0px;
            border-radius: 10px;
            opacity: 0.9;
        }
        ::-webkit-input-placeholder {
            color: aliceblue;
            font-size: 1.2rem;
          }
        .input-error{
          border: 3px solid red;
          border-bottom: 0px;
          background-image: url("");
          background-color: rgba(255, 0, 0, 0.362);
        }  
    }
    .buttons-design {
        .custom_button {
          margin-top: 50px;
          margin-bottom: 20px;
          padding: 5px;
          padding-left: 40px;
          padding-right: 40px;
          border-radius: 10px;
          border: 2px solid black;
          background-color: rgba(74, 74, 74, 0.622);
          color: aliceblue;
          box-shadow: 3px 3px 2px 2px rgba(240, 248, 255, 0.449);
          font-size: 1.2rem;
          @media screen and (max-width: 500px) {
            margin-top: 30px;
            margin-bottom: 20px;
            padding-left: 20px;
          padding-right: 20px;
          }
        }
        .button-register {
          padding-right: 100px;
          padding-left: 100px;
          @media screen and (max-width: 500px) {
            padding-right: 20px;
            padding-left: 20px;
          }
        }
      }
      .row-buttons-register{
      @media screen and (min-width: 1390px) {
        margin-left: -150px;
      }
    }
}